@model WorkoutRepository.Models.Exercise
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageResource)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.ImageResource" class="card-img-top" style="width:300px"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MuscleGroup)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Exercises" asp-action="Index">@Html.DisplayFor(model => model.MuscleGroup.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryEquipment)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Exercises" asp-action="Index">@Html.DisplayFor(model => model.PrimaryEquipment.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmbedLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmbedLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveRatings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositiveRatings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeRatings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NegativeRatings)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        bool isAdmin = User.IsInRole("Admin");
        var user = await UserManager.GetUserAsync(User);
        var userName = user.WebsiteUserName;

        @if (isAdmin)
        {
            <p>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            </p>
        }
    }

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
