@model WorkoutRepository.Models.Exercise
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isAdmin = User.IsInRole("Admin");
    var user = await UserManager.GetUserAsync(User);

    double percentRating = Convert.ToDouble(Model.PositiveRatings) / Convert.ToDouble(Model.PositiveRatings + Model.NegativeRatings) * 100;
    if (Double.IsNaN(percentRating))
    {
        percentRating = 0;
    }
    percentRating = Math.Round(percentRating, 2);

}

<h1 class="text-center">@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <div>
        @if (SignInManager.IsSignedIn(User))
        {


            @if (isAdmin)
            {
                <p>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                </p>
            }
        }

        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <img class="align-middle" src="~/images/@Model.ImageResource" style="width:300px" />
        </div>
        @if (@Model.EmbedLink != null)
        {
            <div class="p-2">
                <iframe class="align-middle" width="600" height="300"
                        src="@Model.EmbedLink">
                </iframe>
            </div>
        }

    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MuscleGroup)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Exercises" asp-action="Index">@Html.DisplayFor(model => model.MuscleGroup.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryEquipment)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Exercises" asp-action="Index">@Html.DisplayFor(model => model.PrimaryEquipment.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmbedLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmbedLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Ratings
        </dt>
        <dd class="col-sm-10">
            @percentRating% (@Html.DisplayFor(model => model.PositiveRatings) positive,@Html.DisplayFor(model => model.NegativeRatings) negative)
        </dd>
    </dl>
</div>

<h3 class="mt-5">@Model.Comments.Where(c => !c.Deleted).Count() Comment(s)</h3>

@if (SignInManager.IsSignedIn(User))
{
    var userName = user.WebsiteUserName;
    <div>
        <form asp-action="_postComment">
            <input asp-for="Comment.ExerciseId" value="@Model.Id" readonly hidden />
            <input asp-for="Comment.Author" value="@userName" readonly hidden />
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea asp-for="Comment.Content" class="form-control" rows="3" required></textarea>
                <button type="submit" class="btn btn-primary mt-2">Post Comment</button>
            </div>
        </form>
    </div>
}
else
{
    <div>
        <a asp-area="Identity" asp-page="/Account/Register">Sign up now</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a> to comment on this post.
    </div>
}

@foreach (var comment in Model.Comments)
{
    @if (!comment.Deleted)
    {
        <div class="shadow p-3 mb-5 bg-body rounded">
            
            <blockquote class="blockquote">
                <p class="mb-0">@comment.Content</p>
                <footer class="blockquote-footer">@comment.Author - <cite>
                @comment.Date
                @if (comment.Edited)
                {
                    <span>*(edited on @comment.DateEdited)</span>
                }
                </cite>
                </footer>
            </blockquote>
            



            @if (comment.Editable)
            {
                <button id="editButton_@comment.Id" class="btn btn-primary mt-1" onclick="ShowEditForm(@comment.Id)">Edit</button>
                <form id="editForm_@comment.Id" asp-action="_editComment" style="display: none;">
                    <input asp-for="Comment.ExerciseId" value="@Model.Id" readonly hidden />
                    <input asp-for="Comment.Id" value="@comment.Id" readonly hidden />
                    <div class="form-group">
                        <textarea asp-for="Comment.Content" class="form-control" rows="3" required></textarea>
                        <button type="submit" class="btn btn-primary mt-1">Edit Comment</button>
                    </div>
                </form>

            }
            @if (comment.Deletable)
            {
                <form asp-action="_DeleteComment">
                    <input asp-for="Comment.Id" value="@comment.Id" readonly hidden />
                    <input asp-for="Comment.ExerciseId" value="@Model.Id" readonly hidden />
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger mt-1">Delete Comment</button>
                    </div>
                </form>
            }
        </div>
    }else
        {
            <div class="shadow p-3 mb-5 bg-body rounded">
                <blockquote class="blockquote">
                    <p class="mb-0">[deleted]</p>
                    <footer class="blockquote-footer">
                        [deleted] - <cite>
                                            @comment.Date
                                            @if (comment.Edited)
                                            {
                                                <span>*(edited on @comment.DateEdited)</span>
                                            }
                                        </cite>
                                    </footer>
                </blockquote>
            </div>
        }
    }


<script type="text/javascript">


    function ShowEditForm(commentId) {
        let editForm = document.getElementById('editForm_' + commentId);
        let relatedButton = document.getElementById('editButton_' + commentId);

        editForm.style.display = "block";
        relatedButton.innerHTML = "Hide Edit Prompt";
        relatedButton.setAttribute("onClick", "HideEditForm(" + commentId + ")");
    }

    function HideEditForm(commentId) {
        let editForm = document.getElementById('editForm_' + commentId);
        let relatedButton = document.getElementById('editButton_' + commentId);

        editForm.style.display = "none";
        relatedButton.innerHTML = "Edit";
        relatedButton.setAttribute("onClick", "ShowEditForm(" + commentId + ")");
    }
</script>

