@model IEnumerable<WorkoutRepository.Models.ExerciseStats>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Exercise Statistics</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                Ratings
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludedInWorkouts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedInLog)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            double percentRating = Convert.ToDouble(item.PositiveRatings) / Convert.ToDouble(item.PositiveRatings + item.NegativeRatings) * 100;
            if (Double.IsNaN(percentRating))
            {
                percentRating = 0;
            }
            percentRating = Math.Round(percentRating, 2);

            <tr>
                <td>
                    <a asp-controller="Exercises" asp-action="Details" asp-route-id="@item.ExerciseId">@Html.DisplayFor(modelItem => item.ExerciseName)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @percentRating%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludedInWorkouts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacedInLog)
                </td>
            </tr>
        }
    </tbody>
</table>
