@model WorkoutRepository.Models.Profile
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = "";
}



@if (SignInManager.IsSignedIn(User))
{
    bool isAdmin = User.IsInRole("Admin");
    var user = await UserManager.GetUserAsync(User);
    var userName = user.WebsiteUserName;

    userId = UserManager.GetUserId(User);


}

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@Model.UserId == @userId)
        {
            <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a>
        }
    }
</div>

<h1>Profile</h1>

<div>
    <h4>@Html.DisplayFor(model => model.WebsiteUserName)</h4>

    <div class="d-flex justify-content-center">
        <div class="p-2">
            @if (Model.ProfileImageResource == null || Model.ProfileImageResource == "")
            {
                <i class="far fa-user" style="font-size: 15em"></i>
            }
            else
            {
                <img class="align-middle" src="~/images/profile/@Model.ProfileImageResource" style="width:300px" />
            }

        </div>
    </div>


    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberSince)
        </dd>
    </dl>

    <h4>@Html.DisplayNameFor(model => model.AboutMe)</h4>
    @if (Model.AboutMe == null)
    {
        <div class="shadow p-3 mb-4 bg-body rounded" style="white-space: pre-line; font-style:italic">N/A</div>
    }
    else { 
        <div class="shadow p-3 mb-4 bg-body rounded" style="white-space: pre-line">@Model.AboutMe</div>
    }
    

    @if (Model.ShowHealthMetrics)
    {
        <h4>Health Metrics</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight) kgs
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BodyFat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BodyFat)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Height) m
            </dd>
        </dl>
    }
</div>

